h1,h2,h3 {
	font-weight:bold;
	color:darkred;
}

h4,h5 {
	font-weight:bold;
}

.page-content a,a:visited {
  font-weight:bold;
  color:darkred;
}
div.challenge-box {
  margin-top:2em;
  margin-bottom:2em;
  border-style:dashed;
  border-width: 1px;
  border-color:darkred;
  border-radius: 10px;
}
div.challenge-box > div {
  padding: 5px 5px 5px 5px;
}
div.challenge-box > div.challenge {
  text-align:center;
}
div.challenge-box > div.success {
  background-color:papayawhip;
}
div.challenge-box > div.failure {
  background-color:lavender;
}

div.challenge > span.role {
  width:100%;
  display:inline-block;
}
div.challenge > span.dice {
  font-weight: bold;
  color: darkred;
	display:block;
}

div.success > span:first-child {
  font-weight:bold;
  color:darkred;
}

div.failure > span:first-child {
  font-weight:bold;
  color:darkblue;
}

.readaloud {
  font-style:italic;
}

div.readaloud {
  margin: 1em 0px 1em 0px;
  border-radius: 15px;
  background-color: lightgrey;
	padding:10px;
}

span.emphasize {
	font-weight: bold;
	color:darkred;
}

div.collect-challenge-result > div:nth-child(even) {
	background-color:lightgrey;
}

div.collect-challenge-result  > div:not(.header) >  span:first-child {
  font-weight:bold;
  color:darkred;
  display:inline-block;
  width:10em;
}

div.collect-challenge-result > div.header > span:first-child{
  display:inline-block;
  width:10em;
}

div.collect-challenge-result > div.header {
	background-color:darkred;
	color:white;
	font-weight:bold;
}

div.enemy {
	border: 1px solid darkblue;
	border-radius: 15px;
	margin-bottom: 15px;
}

div.enemy > * {
	padding: 0 15px 15px 15px;
}

div.enemy > div.header {
	background-color:darkblue;
	color:white;
	font-weight:bold;
	border-radius: 15px 15px 0 0;
}

div.enemy > div.talent > span.header {
	display:block;
	background-color:darkred;
  color: white;
	font-weight:bold;
	padding: 0 0 0 5px;
}

div.enemy > ul {
	list-style:none;
	margin: 0;
}

div.enemy li {
	display: inline;
}

div.enemy li:not(:last-child):after {
	content: ',';
}

div.enemy li > span {
	font-weight: bold;
}

div.enemy li > span:after {
	content: ' ';
}

div.todo {
	background-color:yellow;
}
div.todo:before {
	content: 'TODO:'
}

div.weapon dt {
	font-weight:bold;
	float: left;
	width: 20%;
	min-width: 8em;
} 

div.weapon dd {
	float:left;
	width:80%;
}

div.card {
	border: 1px solid black;
	border-radius: 15px;
	margin-bottom: 15px;
}

div.card > * {
	padding: 0 15px 15px 15px;
}

div.card > div.header {
	background-color:black;
	color:white;
	font-weight:bold;
	border-radius: 15px 15px 0 0;
}

