---
layout: default
---

<div class="home">

  <h1 class="page-heading">Willkommen</h1>

  <p>	Ich habe angefangen mit Freunden das Abenteuerspiel Justifiers von Markus Heitz zu spielen und es ist echt 
  gut angekommen. Jetzt stehe ich aber vor dem Problem, dass ich nicht an das zweite Buch "Mystery" heran komme. 
  </p>

  <p>Deshalb versuche ich mich mal an einem eigenen Abenteuer für die restliche Mission in den Zonen 2, 3 und 4.
  Die Idee basiert im Wesentlichen auf den Namen der beiden in 'Justifiers - Mystery' vorkommenden Rassen, 
  die ich im <a href="http://www.justifiers-wiki.de">Stellar-Web</a> gefunden habe. Ich gehe dabei davon aus, dass Zone 1
  von den Justifiers so bespielt wurde wie im Basisregelwerk (BRW) beschrieben. </p>

  <p>Die Namen <a href="http://www.justifiers-wiki.de/index.php/Baton%27Fa">Baton'Fa</a> und 
  <a href="http://www.justifiers-wiki.de/index.php/Fa%27Baton">Fa'Baton</a> brachten mich auf die Idee von zwei in
  Symbiose lebenden Rassen, die sich trotzdem bekriegen. Eine von beiden wird in dem Krieg vernichtet, worauf
  auch die andere Rasse aussterben muss.</p>

  <p>Natürlich musste noch ein Ancient Artfakt als Belohnung winken. Da ich mit dem Wüstenkontinent anfing, 
  kam mir die Idee, dass es auf dem Planeten Terraforming Module geben könnte und das von Zone 2 im Krieg
  der beiden Rassen vernichtet wurde.</p>

  <p>Der Text für die Mission steht unter <a href="https://creativecommons.org/licenses/by-sa/3.0/de/">CC-BY-SA 3.0 de</a></p>

  <p>Der Text wird in einem öffentlichen [gitlab Projekt](https://gitlab.com/justifiers/holz11) gehostet. Das heißt, jeder 
  kann das Projekt "forken", also eine eigene Kopie des Projektes machen und diese bearbeiten sie oder er möchte. Den 
  Großteil davon kann man auch online in der Weboberfläche machen, so dass man sich nicht so sehr mit git auseinander setzen muss.
  Die Änderungen können dann per "Merge Request" zurück gegeben werden ich kann die dann einarbeiten. </p>

  <p>Das setzt einige Kenntnisse von HTML und Markdown voraus. Wer die nicht hat, kann aber auch auf der Projektseite einach 
  "Issues" anlegen, wenn man eine Vorschlag für eine Änderung hat. Und dann können wir in dem Issue darüber reden. </p>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
