<footer class="site-footer">

  <div class="wrapper">


    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
				<a href="https://creativecommons.org/licenses/by-sa/3.0/de/"><i style="color:black; font-size:xx-large" class="cc cc-by-sa"></i></a>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description_de }}</p>
				<p>{{ site.description_en }}</p>
      </div>
    </div>

  </div>

</footer>
