#gitlab-banner > span {
	background-color:red; 
	color:white; 
	padding: 4px 30px 4px 50px; 
  font-size: 1em; 
	z-index:99;
	display: block; 
	@media screen and (min-width: 900px) {
			top:30px; 
			position:absolute; 
			right:-45px; 
			-webkit-transform: rotate(45deg); 
			-moz-transform: rotate(45deg); 
	}
}
