<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  	{% include fork_me_banner.html %}

		<header class="site-header">
		  <div class="wrapper">
		    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
			</div>
	  </header>

    <div class="page-content">
      <div class="wrapper">
				<article class="mission">
		    {{ content }}
				</article>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
